//
   Created by Manolo on 03/08/2015.

extends ../layout

block content
   p Añadir comentario
   - var accionForm = "/quizes/" + quizid + "/comments/";
    form(method="post",action=accionForm)
        input(type="text", id="comment", name="comment[texto]", value="")
        button(type="submit") Enviar

