* {padding: 0px; margin: 0px;}
body {
  font: 16px "Georgia, serif";
}
#page-wrap {
  margin: 2% auto;
  color: white;
}
#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
}
#section {padding: 20px;}
header, #secNav, #section  {background: #eee; text-align: center; align-content: center}
footer {background: #eee; text-align: center}
#ErrorMsgs {color: #f61; font-size: smaller}
footer span {margin: 0px 10px 0px 0px;}
nav span  {margin: 0px 10px 0px 0px;}
#secNav  {text-align: center; align-content: center}
a {
  color: #00B7FF;
}