block content
    - var pregunta = quiz.pregunta;
    - var respuesta = quiz.respuesta;
    label(for="preg", class="rem") Pregunta:
    input(type="text", id="preg", name="quiz[pregunta]", value=pregunta)
    br
    label(for="resp", class="rem") Respuesta:
    input(type="text", id="resp", name="quiz[respuesta]", value=respuesta)
    br
    a(href="/quizes")
       button(type="button") Cancelar
    input(type="submit", value="Salvar")