//
   Created by Manolo on 30/07/2015.

extends ../layout

block content
    form(method="get", action="/quizes")
        label(for="bus", class="rem") Buscador de preguntas:
        input(type="text", id="preg_bus", name="search")
        input(type="submit", value="Buscar")

    table(width="100%")
        - for (var i=0; i < quizes.length; i++)
            tr(width="100%")
                td(width="50%", align="right")
                    - var enlace = "../quizes/" + quizes[i].id;
                    a(href=enlace) #{quizes[i].pregunta}
                td(width="50%", align="left")
                    - var enlaceEdit = "../quizes/" + quizes[i].id + "/edit";
                    a(href=enlaceEdit)
                        button Editar
    a(href="/quizes/new")
        button(type="button") Crear pregunta