//
   Created by Manolo on 30/07/2015.

extends ../layout

block content

    table(width="100%")
        - for (var i=0; i < quizes.length; i++)
            tr(width="100%")
                td(width="100%")
                    - var enlace = "quizes/" + quizes[i].id;
                        a(href=enlace) #{quizes[i].pregunta}
    a(href="/quizes/new")
        button(type="button") Crear pregunta