extends ../layout

block content
    h3
    - var accion = "/quizes/" + quiz.id + "/answer";
      form(method="get",action=accion)
          p Pregunta: #{quiz.pregunta}
          input(type="text",name="respuesta", value="Responda aqui")
          input(type="submit",value="Enviar")

