//
   Created by Manolo on 30/07/2015.

extends ../layout

block content

    #indicetemas(align="center")
        table(align="center")
                tr(width="100%")
                    td(align="center")
                        a(href="../quizes/?tema=Otros") Otros
                tr(width="100%")
                    td(align="center")
                        a(href="../quizes/?tema=Humanidades") Humanidades
                tr(width="100%")
                    td(align="center")
                        a(href="../quizes/?tema=Ocio") Ocio
                tr(width="100%")
                    td(align="center")
                        a(href="../quizes/?tema=Ciencia") Ciencia
                tr(width="100%")
                    td(align="center")
                        a(href="../quizes/?tema=Tecnologia") Tecnologia